* {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif; }

body {
  width: 100%;
  max-width: 1440px;
  margin: 2px auto;
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(1, 3fr);
  grid-template-rows: repeat(4, auto); }

.barra {
  background-image: linear-gradient(#d9b592, #f5e1ce);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .barra img {
    width: 18%;
    display: flex;
    justify-content: center; }
  .barra a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 2vw;
    margin: 30px; }
    .barra a:hover {
      color: #a68562; }

li {
  display: inline-block; }

.carousel {
  width: 40%;
  display: flex;
  justify-content: center; }

.quienSoy {
  border-radius: 10px;
  color: black;
  font-weight: bold;
  background-color: antiquewhite;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(1, auto);
  width: 60%; }

.tiempo {
  background-color: white;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-items: center; }

.tiempoEntrega {
  display: flex;
  justify-content: center; }

footer {
  background-image: linear-gradient(#d9b592, #f5e1ce);
  display: flex;
  flex-direction: row;
  justify-content: space-evenly; }

.bi-facebook {
  font-size: 2rem;
  display: inline-block;
  color: black; }
  .bi-facebook:hover {
    color: #3b5998; }

.bi-instagram {
  font-size: 2rem;
  display: inline-block;
  color: black; }
  .bi-instagram:hover {
    color: coral; }

.bi-whatsapp {
  font-size: 2rem;
  display: inline-block;
  color: black; }
  .bi-whatsapp:hover {
    color: #00bb2d; }
