*{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

body{
width: 100%;
max-width: 1440px;
margin: 2px auto;
display: grid;
gap: 10px;
grid-template-columns: repeat(1, 3fr);
grid-template-rows: repeat(4, auto);

}
.barra{
    background-image: linear-gradient(#d9b592, #f5e1ce);
    display: flex;
    flex-direction: column;
    justify-content: center;  
    align-items: center;

}
.barra img{
    width: 18%; 
    display: flex;
    justify-content: center;
} 
 .barra a{
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 2vw;
    margin: 30px;
}
.barra a:hover{
    color: #a68562;
}
li{
    display: inline-block;
}

.carousel{
    width: 40%;
    display: flex;
    justify-content: center;
    
}


.quienSoy{
    border-radius: 10px;
    color: black;
    font-weight: bold;
    background-color: antiquewhite;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(1, auto);
    width: 60%;
       
    
}
.tiempo{
    background-color: white;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-items: center;
}
.tiempoEntrega{
    display: flex;
    justify-content: center;
}
footer{
    background-image: linear-gradient(#d9b592, #f5e1ce);
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
     
}
.bi-facebook{
    font-size: 2rem;
    display: inline-block;
    color: black;
}
.bi-facebook:hover{
    color:#3b5998;     
}
.bi-instagram{
    font-size: 2rem;
    display: inline-block;
    color: black;
}
.bi-instagram:hover{
    color:coral;
}
.bi-whatsapp{
    font-size: 2rem;
    display: inline-block;
    color: black;
}
.bi-whatsapp:hover{
    color: #00bb2d;
}
.card{
    margin: 40%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto auto;
    grid-template-areas: 
    "cardUno cardDos cardTres"
    "cardCuatro cardCinco cardSeis"
    "cardSiete cardOcho cardNueve";
    background-color: #f5e1ce;
    margin: 1rem;
    padding: 1rem;  

}
.cardUno{
    grid-area: cardUno;
}
.cardDos{
    grid-area: cardDos;
}
.cardTres{
    grid-area: cardTres;
}
.cardCuatro{
    grid-area: cardCuatro;
}
.cardCinco{
    grid-area: cardCinco;
}
.cardSeis{
    grid-area: cardSeis;
}
.cardSiete{
    grid-area: cardSiete;
}
.cardOcho{
    grid-area: cardOcho;
}
.cardNueve{
    grid-area: cardNueve;
}
.contacto{
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    grid-template-rows: repeat(1, 1fr);
    margin: 2px;
    

}
.formulario{
    color: black;
    font-weight: bold;
    width: 8%;
    margin: 2%;
    padding: 1%;
    margin-left: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}

@media only screen and (max-width:599px) {
    
    
    .card{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto auto auto auto auto auto auto auto auto;
        grid-template-areas: 
        "cardUno"
        "cardDos"
        "cardTres"
        "cardCuatro"
        "cardCinco"
        "cardSeis"
        "cardSiete"
        "cardOcho"
        "cardNueve";

    }
    .contacto{
        width: 90%;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(1, 1fr);
    }
    .formulario{
        display: flex;
        align-items: center;
    }
    .mapa{
        width: 250px;
        height: 250px;
        margin: 10%;
    }
    .bi-facebook{
        font-size: 1.5rem;
    }
    .bi-instagram{
        font-size: 1.5rem;
    }
    .bi-whatsapp{
        font-size: 1.5rem;
    }
 

}
@media only screen and (min-width:600px) and (max-width:945px) {
    .contacto{
        width: 90%;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(1, 1fr);
    }
    .formulario{
        display: flex;
        align-items: center;
    }
    .mapa{
        width: 450px;
        height: 450px;
        margin: 10%;
    }

}















/* .titulo{
    width: 10rem;
    margin: 50px;

}

.barra{
    background-color: #d9b592;
    display: flex;
    flex-direction: column;
    justify-content: center;  
    align-items: center;
    grid-area: barra;
    grid-column-start: barra;
    grid-column-end: barra;
  
}
.barra img{
width: 18%; 
margin-left: 35%;
} 

.barra a{
 text-decoration: none;
 color: black;
 font-weight: bold;
 font-size: 2vw;
 margin: 30px;
}
.barra a:hover{
    color: #a68562;
}
li{
    display: inline-block;
}
.carrousel{
    grid-area: carrousel;
    grid-column-start: corrousel;
    grid-column-end: corrousel;

}
.micol{
    grid-area: micol;
    grid-column-start: micol;
    grid-column-end: micol;
}

.quienSoy{
    color: black;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    margin-left: 2.5%;
    grid-area: quienSoy;
 
}
footer{
    background-color: #d9b592;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    justify-items:end;
    font-weight: bold;
    grid-area: pie;
}
.bi-facebook{
    font-size: 2rem;
    display: inline-block;
    color: black;
}
.bi-facebook:hover{
    color:#3b5998;     
}
.bi-instagram{
    font-size: 2rem;
    display: inline-block;
    color: black;
}
.bi-instagram:hover{
    color:coral;
}
.bi-whatsapp{
    font-size: 2rem;
    display: inline-block;
    color: black;
}
.bi-whatsapp:hover{
    color: #00bb2d;
}
.formulario{
    color: black;
    font-weight: bold;
    width: 8%;
    margin: 2%;
    padding: 1%;
    margin-left: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
iframe{
    margin-left: 20%;
    padding: 3%;
}
.card{
    background-color: #f5e1ce;
    width: 10rem;
    margin: 1rem;
    padding: 1rem;
    display: inline-block;

}
.card img{
    width: 100%;
}
.card p{
    font-size: 1rem;
    text-align: center;
} */
