/* .card {
    margin: 40%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto auto;
    grid-template-areas: "cardUno cardDos cardTres" "cardCuatro cardCinco cardSeis" "cardSiete cardOcho cardNueve";
    background-color: #f5e1ce;
    margin: 1rem;
    padding: 1rem;
    
    .cardUno{
            grid-area: cardUno;
        
    }
        
    .cardDos{
            grid-area: cardDos;
        
    }
        
    .cardTres{
            grid-area: cardTres;
        
    }
        
    .cardCuatro{
            grid-area: cardCuatro;
        
    }
        
    .cardCinco{
            grid-area: cardCinco;
        
    }
        
    .cardSeis{
            grid-area: cardSeis;
        
    }
        
    .cardSiete{
            grid-area: cardSiete;
        
    }
        
    .cardOcho{
            grid-area: cardOcho;
        
    }
    .cardNueve{
            grid-area: cardNueve;
        
    }
};
@include mediaQuery (tablet, 599px) {

    .card{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto auto auto auto auto auto auto auto auto;
        grid-template-areas: 
        "cardUno"
        "cardDos"
        "cardTres"
        "cardCuatro"
        "cardCinco"
        "cardSeis"
        "cardSiete"
        "cardOcho"
        "cardNueve";
    }

}; */

.card{
        background-color: #f5e1ce;
        padding: 1rem;
        margin: 1rem;
}

